body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 10px;
    color: white;
}

.green-background {
    background-color: green;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-background {
    background-color: yellow;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-background {
    background-color: fuchsia;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-background {
    background-color: blue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-background {
    background-color: red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-background {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-container {
    height: 30px;
    display: flex;
}

#middle-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#content2 {
    width: 50%;
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

#image {
    height: 50%;
}

#extra {
    height: 50%;
}