// Colors
$primary-color: #C23949;
$secondary-color: #DB8892;
$third-color: #F4DADD;
$bg-color: #FFFAFA;
$black-color: #333333;
$black2-color: #828282;
$black3-color: #BDBDBD;
// Fonts
$font: 'Roboto Mono',
monospace;